OpenAI Invoice Downloader.json
{
  "name": "OpenAI Invoice Downloader",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n-auto-invoice-worker:3000/trigger-invoice",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "password",
              "value": "={{ $json.password }}"
            },
            {
              "name": "totpSecret",
              "value": "={{ $json.totpSecret }}"
            },
            {
              "name": "targetInvoice",
              "value": "={{ $json.targetInvoice || 'son' }}"
            },
            {
              "name": "owner",
              "value": "={{ $json.owner || \"\" }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "timeout": 2000000
        }
      },
      "id": "http_post",
      "name": "Trigger Local Playwright",
      "position": [
        368,
        752
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "continueOnFail": true,
      "notes": "💡 Hesap bilgileri otomatik olarak çekilmektedir."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n-auto-invoice-worker:3000/edit-pdf",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "invoiceFileName",
              "value": "={{ $json.invoiceFileName }}"
            },
            {
              "name": "receiptFileName",
              "value": "={{ $json.receiptFileName }}"
            },
            {
              "name": "declarationText",
              "value": "={{ $('Merge All').item.json.declarationText || 'SAT- .................................. numaralı yapay zeka hizmetleri satın alımına ilişkin onaylanmış talep formuna istinaden ödemesi gerçekleştirilmiştir.' }}"
            },
            {
              "name": "signatureText",
              "value": "={{ $('Merge All').item.json.signatureText || 'Fatih KILINÇ' }}"
            },
            {
              "name": "owner",
              "value": "={{ $json.owner || \"\" }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email || \"\" }}"
            },
            {
              "name": "targetInvoice",
              "value": "={{ $json.targetInvoice || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "edit_pdf",
      "name": "Edit Downloaded PDF",
      "position": [
        592,
        752
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "continueOnFail": true
    },
    {
      "parameters": {
        "content": "## 📂 Hesap Yönetimi\nYeni hesap eklemek için:\n1. Herhangi bir **Hesap** node'unu sağ tıkla → **Duplicate**\n2. İçindeki bilgileri güncelle\n3. **Merge** node'una bağla\n\nBaşka hiçbir node'a dokunman gerekmez!",
        "height": 220,
        "width": 352,
        "color": "4"
      },
      "id": "note_account_mgmt",
      "name": "Not - Hesap Yonetimi",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1728,
        704
      ]
    },
    {
      "parameters": {
        "content": "## 💡 targetInvoice Değerleri\nHer hesap node'unda `targetInvoice` için:\n- **`last`** → En güncel faturayı çeker\n- **`previous`** → Geçen ayın faturasını çeker",
        "width": 328,
        "color": "3"
      },
      "id": "note_target_invoice",
      "name": "Not - targetInvoice",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1328,
        736
      ]
    },
    {
      "parameters": {
        "content": "## 📝 PDF Üzerine Yazılan Değerler\nHer hesap için ayrı ayrı ayarlanabilir:\n- **`declarationText`** → Beyan metni\n- **`signatureText`** → İmzalayan kişinin adı",
        "width": 312,
        "color": "5"
      },
      "id": "note_pdf_params",
      "name": "Not - PDF Parametreleri",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -944,
        736
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet htmlTable = `<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\" style=\"border-collapse: collapse; font-family: Arial, sans-serif; width: 100%;\">\n  <tr style=\"background-color: #f2f2f2;\">\n    <th>Sıra</th>\n    <th>Hesap</th>\n    <th>Kullanıcı</th>\n    <th>Fatura Tarihi</th>\n    <th>Ekstre Dönemi</th>\n    <th>Fatura Dosyası</th>\n    <th>Makbuz Dosyası</th>\n    <th>İmza Sorumlusu</th>\n    <th>Durum</th>\n  </tr>`;\n\nlet successCount = 0;\nlet errorCount = 0;\nconst binData = {};\nconst attachmentKeys = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i].json;\n  \n  let email = item.email || '';\n  if (!email) email = `Hesap-${i+1}`;\n  \n  const owner = item.owner || '';\n  const signatureText = item.signatureText || 'Belirtilmedi';\n  const targetInvoice = item.targetInvoice || 'last';\n  \n  const isPrevious = targetInvoice === 'previous';\n  const ekstreDonemi = isPrevious ? 'Geçen Ay' : 'Güncel';\n  let faturaTarihi = '-';\n  \n  const statusHtml = item.status === 'success' ? 'Başarılı' : 'Hatalı';\n  \n  let invName = '-';\n  let recName = '-';\n  \n  if (item.status === 'success') {\n     successCount++;\n     if (item.base64Files && item.base64Files.length > 0) {\n       for (let j = 0; j < item.base64Files.length; j++) {\n         const fileObj = item.base64Files[j];\n         const key = `file_${i}_${j}`;\n         binData[key] = {\n           data: fileObj.content,\n           mimeType: 'application/pdf',\n           fileName: fileObj.filename\n         };\n         attachmentKeys.push(key);\n         \n         if (fileObj.filename.includes('fatura')) {\n           invName = fileObj.filename;\n           const dateRe = new RegExp('_fatura_(([0-9]{2})-([0-9]{2})-([0-9]{4}))[.]pdf', 'i');\n           const dateMatch = invName.match(dateRe);\n           if (dateMatch) {\n             faturaTarihi = dateMatch[2] + '.' + dateMatch[3] + '.' + dateMatch[4];\n           }\n         }\n         \n         if (fileObj.filename.includes('makbuz')) recName = fileObj.filename;\n       }\n     }\n     htmlTable += `<tr>\n      <td>${i+1}</td>\n      <td>${email}</td>\n      <td>${owner}</td>\n      <td>${faturaTarihi}</td>\n      <td>${ekstreDonemi}</td>\n      <td>${invName}</td>\n      <td>${recName}</td>\n      <td>${signatureText}</td>\n      <td style=\"color: green; font-weight: bold;\">${statusHtml}</td>\n    </tr>`;\n  } else {\n     errorCount++;\n     htmlTable += `<tr>\n      <td>${i+1}</td>\n      <td>${email}</td>\n      <td>${owner}</td>\n      <td>-</td>\n      <td>${ekstreDonemi}</td>\n      <td>-</td>\n      <td>-</td>\n      <td>${signatureText}</td>\n      <td style=\"color: red; font-weight: bold;\">${statusHtml} (${item.errorMessage || item.error || 'Bilinmeyen Hata'})</td>\n    </tr>`;\n  }\n}\nhtmlTable += `</table>`;\n\n// ==========================================\n// Ay ve Tarih Hesaplamaları (Yukarı Taşıdık)\n// ==========================================\nconst dTitle = new Date();\ndTitle.setMonth(dTitle.getMonth() - 1);\nconst monthNames = [\"Ocak\", \"Şubat\", \"Mart\", \"Nisan\", \"Mayıs\", \"Haziran\", \"Temmuz\", \"Ağustos\", \"Eylül\", \"Ekim\", \"Kasım\", \"Aralık\"];\nconst previousMonthName = monthNames[dTitle.getMonth()];\nconst targetYear = dTitle.getFullYear();\n\n// ==========================================\n// HTML Şablonu (Dinamik Başlık ile Birlikte)\n// ==========================================\nconst summaryHtml = `\n  <div style=\"font-family: Arial, sans-serif; color: #333;\">\n    <h2>${previousMonthName} Ayı ChatGPT Fatura Özeti</h2>\n    <p>Fatura indirme otomasyonu tamamlandı. İşlem detayları aşağıdadır:</p>\n    <ul>\n      <li><b>Toplam İşlem:</b> ${items.length}</li>\n      <li><b style=\"color: green;\">Başarılı:</b> ${successCount}</li>\n      <li><b style=\"color: red;\">Hatalı:</b> ${errorCount}</li>\n    </ul>\n    \n    <p>Bu mesaj otomasyon servisinden otomatik olarak gönderilmiştir.<br>\n    İndirilen fatura ve makbuzlar ekte yer almaktadır.</p>\n\n    <br>\n    ${htmlTable}\n    <br>\n  </div>\n`;\n\nconst mailSubject = `${targetYear} ${previousMonthName} Ayı ChatGPT Faturaları`;\nconst fromEmail = `${targetYear} ${previousMonthName} Ayı ChatGPT Faturaları <fatihkilinc@tim.org.tr>`;\n\nreturn [\n  {\n    json: {\n      fromEmail,\n      mailSubject,\n      htmlBody: summaryHtml,\n      attachmentsStr: attachmentKeys.join(',')\n    },\n    binary: binData\n  }\n];\n"
      },
      "id": "aggregate_and_prepare_email",
      "name": "Prepare Email Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        752
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.fromEmail }}",
        "toEmail": "fatihkilinc@tim.org.tr",
        "subject": "={{ $json.mailSubject }}",
        "html": "={{ $json.htmlBody }}",
        "options": {
          "attachments": "={{ $json.attachmentsStr }}",
          "ccEmail": "",
          "allowUnauthorizedCerts": true
        }
      },
      "id": "send_email_report",
      "name": "Send Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1040,
        752
      ],
      "webhookId": "b6ad8aaa-254a-4cb5-b8a1-dcc1d6b23c78",
      "credentials": {
        "smtp": {
          "id": "akFf6oV3SefRcnj2",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email",
              "name": "email",
              "type": "string",
              "value": "trq-hizmet-yz1@tim.org.tr"
            },
            {
              "id": "password",
              "name": "password",
              "type": "string",
              "value": "U@nZdoyn7aR*nyjorgWy*rUPj"
            },
            {
              "id": "totpSecret",
              "name": "totpSecret",
              "type": "string",
              "value": "P4XAMEOSVHEDHHKXFF6LHR6BKSTULE32"
            },
            {
              "id": "targetInvoice",
              "name": "targetInvoice",
              "type": "string",
              "value": "last"
            },
            {
              "id": "declarationText",
              "name": "declarationText",
              "type": "string",
              "value": "Son geçerlilik tarihi 12.04.2026 olan SAT-261000050 numaralı yapay zeka hizmetleri satın alımına ilişkin onaylı talep formu kapsamında, Turquality Hizmet Sekretaryamızın kullanımına yönelik 1 (bir) aylık ChatGPT Plus abonelik bedelidir."
            },
            {
              "id": "signatureText",
              "name": "signatureText",
              "type": "string",
              "value": "Ayşe Merve YAZICI"
            },
            {
              "id": "owner",
              "name": "owner",
              "type": "string",
              "value": "Turquality Hizmet - Asya AKSOY"
            }
          ]
        },
        "options": {}
      },
      "id": "a9687a02-4c1e-4421-9da5-fb945734ba6f",
      "name": "trq-hizmet-yz1",
      "position": [
        -304,
        1712
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email",
              "name": "email",
              "type": "string",
              "value": "trq-hizmet-yz2@tim.org.tr"
            },
            {
              "id": "password",
              "name": "password",
              "type": "string",
              "value": "7TwjaGRUaJv9Gdg3iKN2JGhr7"
            },
            {
              "id": "totpSecret",
              "name": "totpSecret",
              "type": "string",
              "value": "LP7RKXEFDGD4W7COOGTFZHNL2HXZRZZL"
            },
            {
              "id": "targetInvoice",
              "name": "targetInvoice",
              "type": "string",
              "value": "last"
            },
            {
              "id": "declarationText",
              "name": "declarationText",
              "type": "string",
              "value": "Son geçerlilik tarihi 12.04.2026 olan SAT-261000050 numaralı yapay zeka hizmetleri satın alımına ilişkin onaylı talep formu kapsamında, Turquality Hizmet Sekretaryamızın kullanımına yönelik 1 (bir) aylık ChatGPT Plus abonelik bedelidir."
            },
            {
              "id": "signatureText",
              "name": "signatureText",
              "type": "string",
              "value": "Ayşe Merve YAZICI"
            },
            {
              "id": "owner",
              "name": "owner",
              "type": "string",
              "value": "Turquality Hizmet - Dolunay TURAN"
            }
          ]
        },
        "options": {}
      },
      "id": "6315d5c6-a2c3-473e-8585-c2c30e3f5ff4",
      "name": "trq-hizmet-yz2",
      "position": [
        -304,
        1904
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email",
              "name": "email",
              "type": "string",
              "value": "trq-hizmet-yz3@tim.org.tr"
            },
            {
              "id": "password",
              "name": "password",
              "type": "string",
              "value": "HTjnQhL9zhjRdrCbZFk3UFdUJ"
            },
            {
              "id": "totpSecret",
              "name": "totpSecret",
              "type": "string",
              "value": "3U5N5ORJNT5S2VDR7MNYCXCJ7X5V2TBX"
            },
            {
              "id": "targetInvoice",
              "name": "targetInvoice",
              "type": "string",
              "value": "last"
            },
            {
              "id": "declarationText",
              "name": "declarationText",
              "type": "string",
              "value": "Son geçerlilik tarihi 12.04.2026 olan SAT-261000050 numaralı yapay zeka hizmetleri satın alımına ilişkin onaylı talep formu kapsamında, Turquality Hizmet Sekretaryamızın kullanımına yönelik 1 (bir) aylık ChatGPT Plus abonelik bedelidir."
            },
            {
              "id": "signatureText",
              "name": "signatureText",
              "type": "string",
              "value": "Ayşe Merve YAZICI"
            },
            {
              "id": "owner",
              "name": "owner",
              "type": "string",
              "value": "Turquality Hizmet - Erdi YILDIZ"
            }
          ]
        },
        "options": {}
      },
      "id": "8eaaa686-d38a-49fa-af56-c56f30f2217c",
      "name": "trq-hizmet-yz3",
      "position": [
        -304,
        2096
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email",
              "name": "email",
              "type": "string",
              "value": "trq-hizmet-yz4@tim.org.tr"
            },
            {
              "id": "password",
              "name": "password",
              "type": "string",
              "value": "YA6xYAkGFexUZxKHjrZgihHga"
            },
            {
              "id": "totpSecret",
              "name": "totpSecret",
              "type": "string",
              "value": "6M3P2Z77GFPGBJG4WH2GRECM2FUHCP2H"
            },
            {
              "id": "targetInvoice",
              "name": "targetInvoice",
              "type": "string",
              "value": "last"
            },
            {
              "id": "declarationText",
              "name": "declarationText",
              "type": "string",
              "value": "Son geçerlilik tarihi 12.04.2026 olan SAT-261000050 numaralı yapay zeka hizmetleri satın alımına ilişkin onaylı talep formu kapsamında, Turquality Hizmet Sekretaryamızın kullanımına yönelik 1 (bir) aylık ChatGPT Plus abonelik bedelidir."
            },
            {
              "id": "signatureText",
              "name": "signatureText",
              "type": "string",
              "value": "Ayşe Merve YAZICI"
            },
            {
              "id": "owner",
              "name": "owner",
              "type": "string",
              "value": "Turquality Hizmet - Ozan ZENGİN"
            }
          ]
        },
        "options": {}
      },
      "id": "3c89e3d8-f13f-4107-932d-2a612028dff9",
      "name": "trq-hizmet-yz4",
      "position": [
        -304,
        2288
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email",
              "name": "email",
              "type": "string",
              "value": "trq-hizmet-yz5@tim.org.tr"
            },
            {
              "id": "password",
              "name": "password",
              "type": "string",
              "value": "QnibAD4mGwoQR2amufRJk3xdA"
            },
            {
              "id": "totpSecret",
              "name": "totpSecret",
              "type": "string",
              "value": "MP6KDZSGHBKLA63SXH67PAZVHVWHYVUE"
            },
            {
              "id": "targetInvoice",
              "name": "targetInvoice",
              "type": "string",
              "value": "last"
            },
            {
              "id": "declarationText",
              "name": "declarationText",
              "type": "string",
              "value": "Son geçerlilik tarihi 12.04.2026 olan SAT-261000050 numaralı yapay zeka hizmetleri satın alımına ilişkin onaylı talep formu kapsamında, Turquality Hizmet Sekretaryamızın kullanımına yönelik 1 (bir) aylık ChatGPT Plus abonelik bedelidir."
            },
            {
              "id": "signatureText",
              "name": "signatureText",
              "type": "string",
              "value": "Ayşe Merve YAZICI"
            },
            {
              "id": "owner",
              "name": "owner",
              "type": "string",
              "value": "Turquality Hizmet - Sümeyye BİÇER"
            }
          ]
        },
        "options": {}
      },
      "id": "5a636c15-1b76-4067-a405-4a97e3e1eb63",
      "name": "trq-hizmet-yz5",
      "position": [
        -304,
        2480
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email",
              "name": "email",
              "type": "string",
              "value": "trq-hizmet-yz6@tim.org.tr"
            },
            {
              "id": "password",
              "name": "password",
              "type": "string",
              "value": "8Bu4CcBpuqaW6JuUC6ZN84oFh"
            },
            {
              "id": "totpSecret",
              "name": "totpSecret",
              "type": "string",
              "value": "5WAU5C6ID5JXLIJ5FM6AOIFGJL2KHYHU"
            },
            {
              "id": "targetInvoice",
              "name": "targetInvoice",
              "type": "string",
              "value": "last"
            },
            {
              "id": "declarationText",
              "name": "declarationText",
              "type": "string",
              "value": "Son geçerlilik tarihi 12.04.2026 olan SAT-261000050 numaralı yapay zeka hizmetleri satın alımına ilişkin onaylı talep formu kapsamında, Turquality Hizmet Sekretaryamızın kullanımına yönelik 1 (bir) aylık ChatGPT Plus abonelik bedelidir."
            },
            {
              "id": "signatureText",
              "name": "signatureText",
              "type": "string",
              "value": "Ayşe Merve YAZICI"
            },
            {
              "id": "owner",
              "name": "owner",
              "type": "string",
              "value": "Turquality Hizmet - İpek SERENLİOĞLU OKUR"
            }
          ]
        },
        "options": {}
      },
      "id": "bdee6f07-d217-4282-b7a6-880da1afa931",
      "name": "trq-hizmet-yz6",
      "position": [
        -304,
        2672
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email",
              "name": "email",
              "type": "string",
              "value": "trq-yz1@tim.org.tr"
            },
            {
              "id": "password",
              "name": "password",
              "type": "string",
              "value": "yaJbZz-b6jBi"
            },
            {
              "id": "totpSecret",
              "name": "totpSecret",
              "type": "string",
              "value": "WUAWSSBFSXI3FZDZAW5YAA3MWKPY2PTH"
            },
            {
              "id": "targetInvoice",
              "name": "targetInvoice",
              "type": "string",
              "value": "previous"
            },
            {
              "id": "declarationText",
              "name": "declarationText",
              "type": "string",
              "value": "Son geçerlilik tarihi 21.08.2026 olan SAT-251000294 numaralı yapay zeka hizmetleri satın alımına ilişkin onaylı talep formu kapsamında, Turquality Müdürlüğümüzün kullanımına yönelik 1 (bir) aylık ChatGPT Plus abonelik bedelidir."
            },
            {
              "id": "signatureText",
              "name": "signatureText",
              "type": "string",
              "value": "Abdüssamed ÇAKMAK"
            },
            {
              "id": "owner",
              "name": "owner",
              "type": "string",
              "value": "Turquality 1"
            }
          ]
        },
        "options": {}
      },
      "id": "d0f2bcd7-1ea4-4b68-ac4f-de68c4ab1637",
      "name": "trq-yz1",
      "position": [
        -304,
        1328
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email",
              "name": "email",
              "type": "string",
              "value": "trq-yz2@tim.org.tr"
            },
            {
              "id": "password",
              "name": "password",
              "type": "string",
              "value": "JY7xUqqf36U6"
            },
            {
              "id": "totpSecret",
              "name": "totpSecret",
              "type": "string",
              "value": "Z3GJKIW3E6XQY6GGFJAR47YLX45RR4DL"
            },
            {
              "id": "targetInvoice",
              "name": "targetInvoice",
              "type": "string",
              "value": "last"
            },
            {
              "id": "declarationText",
              "name": "declarationText",
              "type": "string",
              "value": "Son geçerlilik tarihi 21.08.2026 olan SAT-251000294 numaralı yapay zeka hizmetleri satın alımına ilişkin onaylı talep formu kapsamında, Turquality Müdürlüğümüzün kullanımına yönelik 1 (bir) aylık ChatGPT Plus abonelik bedelidir."
            },
            {
              "id": "signatureText",
              "name": "signatureText",
              "type": "string",
              "value": "Abdüssamed ÇAKMAK"
            },
            {
              "id": "owner",
              "name": "owner",
              "type": "string",
              "value": "Turquality 2"
            }
          ]
        },
        "options": {}
      },
      "id": "a456b5c7-16bd-4ce7-9e5a-75cf1f18f9ad",
      "name": "trq-yz2",
      "position": [
        -304,
        1520
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "id": "merge_accounts",
      "name": "Merge 1",
      "position": [
        -80,
        -672
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -80,
        672
      ],
      "id": "b4fd1e02-8293-4a01-9732-2fe0636c38d2",
      "name": "Merge 2"
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -80,
        2016
      ],
      "id": "899893a8-dfeb-4429-a5b0-7ae16efd590b",
      "name": "Merge 3"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        144,
        736
      ],
      "id": "fc7cc421-74c6-4685-8a80-7b1d5bc308da",
      "name": "Merge All"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email2",
              "name": "email",
              "type": "string",
              "value": "tim-yz0@tim.org.tr"
            },
            {
              "id": "password2",
              "name": "password",
              "type": "string",
              "value": "tim-baskani@GPT25"
            },
            {
              "id": "totpSecret2",
              "name": "totpSecret",
              "type": "string",
              "value": "T4H2Z4BBAMFEEKB64KCNPRD3XUMAFLTO"
            },
            {
              "id": "targetInvoice2",
              "name": "targetInvoice",
              "type": "string",
              "value": "previous"
            },
            {
              "id": "declarationText2",
              "name": "declarationText",
              "type": "string",
              "value": "Son geçerlilik tarihi 29.12.2026 olan SAT-251000507 numaralı yapay zeka hizmetleri satın alımına ilişkin onaylı talep formu kapsamında, Başkanımız Sayın Mustafa GÜLTEPE’nin kullanımına yönelik 1 (bir) aylık ChatGPT Plus abonelik bedelidir."
            },
            {
              "id": "signatureText2",
              "name": "signatureText",
              "type": "string",
              "value": "Fatih KILINÇ"
            },
            {
              "id": "owner",
              "name": "owner",
              "type": "string",
              "value": "Mustafa GÜLTEPE"
            }
          ]
        },
        "options": {}
      },
      "id": "set_account_2",
      "name": "tim-yz0",
      "position": [
        -304,
        -1168
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email2",
              "name": "email",
              "type": "string",
              "value": "tim-yz1@tim.org.tr"
            },
            {
              "id": "password2",
              "name": "password",
              "type": "string",
              "value": "R*GZo_9wjxjkLeEieuuE"
            },
            {
              "id": "totpSecret2",
              "name": "totpSecret",
              "type": "string",
              "value": "3GLSEKQ5NU5I5CD5BO2A4TH3FEWQFDNH"
            },
            {
              "id": "targetInvoice2",
              "name": "targetInvoice",
              "type": "string",
              "value": "last"
            },
            {
              "id": "declarationText2",
              "name": "declarationText",
              "type": "string",
              "value": "Son geçerlilik tarihi 30.12.2026 olan SAT-251000508 numaralı yapay zeka hizmetleri satın alımına ilişkin onaylı talep formu kapsamında, Genel Sekreterlik Asistanı Esra YILMAZ'ın kullanımına yönelik 1 (bir) aylık ChatGPT Plus abonelik bedelidir."
            },
            {
              "id": "signatureText2",
              "name": "signatureText",
              "type": "string",
              "value": "Fatih KILINÇ"
            },
            {
              "id": "owner",
              "name": "owner",
              "type": "string",
              "value": "Esra YILMAZ"
            }
          ]
        },
        "options": {}
      },
      "id": "703aa5f8-6a11-4959-bc32-2c06f3a8e052",
      "name": "tim-yz1",
      "position": [
        -304,
        -976
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email2",
              "name": "email",
              "type": "string",
              "value": "tim-yz2@tim.org.tr"
            },
            {
              "id": "password2",
              "name": "password",
              "type": "string",
              "value": "fsaTF4LmqTH.Vz@x7-!s"
            },
            {
              "id": "totpSecret2",
              "name": "totpSecret",
              "type": "string",
              "value": "FVB75XPTP73AZENKZ6QJRDJBMMD77EIJ"
            },
            {
              "id": "targetInvoice2",
              "name": "targetInvoice",
              "type": "string",
              "value": "last"
            },
            {
              "id": "declarationText2",
              "name": "declarationText",
              "type": "string",
              "value": "Son geçerlilik tarihi 30.12.2026 olan SAT-251000511 numaralı yapay zeka hizmetleri satın alımına ilişkin onaylı talep formu kapsamında, Sayın Metehan ÜNAL'ın kullanımına yönelik 1 (bir) aylık ChatGPT Plus abonelik bedelidir."
            },
            {
              "id": "signatureText2",
              "name": "signatureText",
              "type": "string",
              "value": "Fatih KILINÇ"
            },
            {
              "id": "owner",
              "name": "owner",
              "type": "string",
              "value": "Metehan ÜNAL"
            }
          ]
        },
        "options": {}
      },
      "id": "46cd8df2-6580-47d0-8e82-8412457cb885",
      "name": "tim-yz2",
      "position": [
        -304,
        -784
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email2",
              "name": "email",
              "type": "string",
              "value": "tim-yz3@tim.org.tr"
            },
            {
              "id": "password2",
              "name": "password",
              "type": "string",
              "value": "6Pa*4jkChTQ_d6ZF8AUH"
            },
            {
              "id": "totpSecret2",
              "name": "totpSecret",
              "type": "string",
              "value": "H3HLZTWBW7WLTYES7CB3VZEZHRY6B2U4"
            },
            {
              "id": "targetInvoice2",
              "name": "targetInvoice",
              "type": "string",
              "value": "last"
            },
            {
              "id": "declarationText2",
              "name": "declarationText",
              "type": "string",
              "value": "Son geçerlilik tarihi 31.12.2026 olan SAT-251000512 numaralı yapay zeka hizmetleri satın alımına ilişkin onaylı talep formu kapsamında, Sayın Merve YILDIZ GÜLER'in kullanımına yönelik 1 (bir) aylık ChatGPT Plus abonelik bedelidir."
            },
            {
              "id": "signatureText2",
              "name": "signatureText",
              "type": "string",
              "value": "Fatih KILINÇ"
            },
            {
              "id": "owner",
              "name": "owner",
              "type": "string",
              "value": "Merve YILDIZ GÜLER"
            }
          ]
        },
        "options": {}
      },
      "id": "3fdd6058-4685-437a-9662-d47f20ca6caa",
      "name": "tim-yz3",
      "position": [
        -304,
        -592
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email2",
              "name": "email",
              "type": "string",
              "value": "tim-yz4@tim.org.tr"
            },
            {
              "id": "password2",
              "name": "password",
              "type": "string",
              "value": "7-*MS.h.FcoMYBBdK4b."
            },
            {
              "id": "totpSecret2",
              "name": "totpSecret",
              "type": "string",
              "value": "W3AJJDYBF7CUFMIVMG635CJVFOXJE3JD"
            },
            {
              "id": "targetInvoice2",
              "name": "targetInvoice",
              "type": "string",
              "value": "last"
            },
            {
              "id": "declarationText2",
              "name": "declarationText",
              "type": "string",
              "value": "Son geçerlilik tarihi 31.12.2026 olan SAT-251000513 numaralı yapay zeka hizmetleri satın alımına ilişkin onaylı talep formu kapsamında, Sayın Mustafa SEÇİLMİŞ'in kullanımına yönelik 1 (bir) aylık ChatGPT Plus abonelik bedelidir."
            },
            {
              "id": "signatureText2",
              "name": "signatureText",
              "type": "string",
              "value": "Fatih KILINÇ"
            },
            {
              "id": "owner",
              "name": "owner",
              "type": "string",
              "value": "Mustafa SEÇİLMİŞ"
            }
          ]
        },
        "options": {}
      },
      "id": "eb77fe13-7d6e-453c-96cb-6e2858a1c154",
      "name": "tim-yz4",
      "position": [
        -304,
        -400
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email2",
              "name": "email",
              "type": "string",
              "value": "tim-yz5@tim.org.tr"
            },
            {
              "id": "password2",
              "name": "password",
              "type": "string",
              "value": "YV*uZt@7PsYX3kmF@.Rd"
            },
            {
              "id": "totpSecret2",
              "name": "totpSecret",
              "type": "string",
              "value": "PYGAGMT6NRVH6B2D2B6NO2XCWVELZGJR"
            },
            {
              "id": "targetInvoice2",
              "name": "targetInvoice",
              "type": "string",
              "value": "last"
            },
            {
              "id": "declarationText2",
              "name": "declarationText",
              "type": "string",
              "value": "Son geçerlilik tarihi 31.12.2026 olan SAT-251000514 numaralı yapay zeka hizmetleri satın alımına ilişkin onaylı talep formu kapsamında, Sayın Funda ÖZGÜLEÇ YÜCEER'in kullanımına yönelik 1 (bir) aylık ChatGPT Plus abonelik bedelidir."
            },
            {
              "id": "signatureText2",
              "name": "signatureText",
              "type": "string",
              "value": "Fatih KILINÇ"
            },
            {
              "id": "owner",
              "name": "owner",
              "type": "string",
              "value": "Funda ÖZGÜLEÇ YÜCEER"
            }
          ]
        },
        "options": {}
      },
      "id": "6f102ea3-60d5-4611-9307-94d33a3cab0a",
      "name": "tim-yz5",
      "position": [
        -304,
        -208
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email2",
              "name": "email",
              "type": "string",
              "value": "tim-yz6@tim.org.tr"
            },
            {
              "id": "password2",
              "name": "password",
              "type": "string",
              "value": "nr_h@XyVtAHK4QZfuc3x"
            },
            {
              "id": "totpSecret2",
              "name": "totpSecret",
              "type": "string",
              "value": "OY53DBCIP4UKD2UKXU25LNBFIHMUT72S"
            },
            {
              "id": "targetInvoice2",
              "name": "targetInvoice",
              "type": "string",
              "value": "last"
            },
            {
              "id": "declarationText2",
              "name": "declarationText",
              "type": "string",
              "value": "Son geçerlilik tarihi 31.12.2026 olan SAT-251000515 numaralı yapay zeka hizmetleri satın alımına ilişkin onaylı talep formu kapsamında, Sayın Salih Güner GÜLYEŞİL'in kullanımına yönelik 1 (bir) aylık ChatGPT Plus abonelik bedelidir."
            },
            {
              "id": "signatureText2",
              "name": "signatureText",
              "type": "string",
              "value": "Fatih KILINÇ"
            },
            {
              "id": "owner",
              "name": "owner",
              "type": "string",
              "value": "Salih Güner GÜLYEŞİL"
            }
          ]
        },
        "options": {}
      },
      "id": "904905ab-6dc3-487e-8527-14e6f4f9fd96",
      "name": "tim-yz6",
      "position": [
        -304,
        -16
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email",
              "name": "email",
              "type": "string",
              "value": "tim-yz7@tim.org.tr"
            },
            {
              "id": "password",
              "name": "password",
              "type": "string",
              "value": "Bp!V!9mbb8zvXU**"
            },
            {
              "id": "totpSecret",
              "name": "totpSecret",
              "type": "string",
              "value": "LZVOYC2JNZ3KK3CPZECWAP7P2BKG36XZ"
            },
            {
              "id": "targetInvoice",
              "name": "targetInvoice",
              "type": "string",
              "value": "last"
            },
            {
              "id": "declarationText",
              "name": "declarationText",
              "type": "string",
              "value": "Son geçerlilik tarihi 31.12.2026 olan SAT-251000517 numaralı yapay zeka hizmetleri satın alımına ilişkin onaylı talep formu kapsamında, Bilgi Teknolojileri Müdürlüğümüzün kullanımına yönelik 1 (bir) aylık ChatGPT Plus abonelik bedelidir."
            },
            {
              "id": "signatureText",
              "name": "signatureText",
              "type": "string",
              "value": "Fatih KILINÇ"
            },
            {
              "id": "owner",
              "name": "owner",
              "type": "string",
              "value": "Bilgi Teknolojileri"
            }
          ]
        },
        "options": {}
      },
      "id": "set_accounts",
      "name": "tim-yz7",
      "position": [
        -304,
        176
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email",
              "name": "email",
              "type": "string",
              "value": "tim-yz8@tim.org.tr"
            },
            {
              "id": "password",
              "name": "password",
              "type": "string",
              "value": "Tim!GPT2025*"
            },
            {
              "id": "totpSecret",
              "name": "totpSecret",
              "type": "string",
              "value": "6PGTAY7IKJ6YO3JADXZ6LK2MJAHSDGAD"
            },
            {
              "id": "targetInvoice",
              "name": "targetInvoice",
              "type": "string",
              "value": "last"
            },
            {
              "id": "declarationText",
              "name": "declarationText",
              "type": "string",
              "value": "Son geçerlilik tarihi 31.12.2026 olan SAT-251000518 numaralı yapay zeka hizmetleri satın alımına ilişkin onaylı talep formu kapsamında, Destek Yönetim Sistemleri Müdürlüğümüzün kullanımına yönelik 1 (bir) aylık ChatGPT Plus abonelik bedelidir."
            },
            {
              "id": "signatureText",
              "name": "signatureText",
              "type": "string",
              "value": "Fatih KILINÇ"
            },
            {
              "id": "owner",
              "name": "owner",
              "type": "string",
              "value": "Destek Yönetim Sistemleri"
            }
          ]
        },
        "options": {}
      },
      "id": "869dd369-890e-4fe3-a318-637395c57ebe",
      "name": "tim-yz8",
      "position": [
        -304,
        368
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email",
              "name": "email",
              "type": "string",
              "value": "tim-yz9@tim.org.tr"
            },
            {
              "id": "password",
              "name": "password",
              "type": "string",
              "value": "8wgJbhG*Ts_*-c3"
            },
            {
              "id": "totpSecret",
              "name": "totpSecret",
              "type": "string",
              "value": "U7233KANGA7KY6UKIERV5GOYAML3JF53"
            },
            {
              "id": "targetInvoice",
              "name": "targetInvoice",
              "type": "string",
              "value": "last"
            },
            {
              "id": "declarationText",
              "name": "declarationText",
              "type": "string",
              "value": "Son geçerlilik tarihi 31.12.2026 olan SAT-251000519 numaralı yapay zeka hizmetleri satın alımına ilişkin onaylı talep formu kapsamında, Genel Sekreterimiz Sayın Yiğit Tufan ESER'in kullanımına yönelik 1 (bir) aylık ChatGPT Plus abonelik bedelidir."
            },
            {
              "id": "signatureText",
              "name": "signatureText",
              "type": "string",
              "value": "Fatih KILINÇ"
            },
            {
              "id": "owner",
              "name": "owner",
              "type": "string",
              "value": "Yiğit Tufan ESER"
            }
          ]
        },
        "options": {}
      },
      "id": "21a2452f-88ee-4ac5-b4e5-acd2d074b4a2",
      "name": "tim-yz9",
      "position": [
        -304,
        560
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email",
              "name": "email",
              "type": "string",
              "value": "tim-yz10@tim.org.tr"
            },
            {
              "id": "password",
              "name": "password",
              "type": "string",
              "value": "W8Gxs9DYeEVr"
            },
            {
              "id": "totpSecret",
              "name": "totpSecret",
              "type": "string",
              "value": "Z4OMS2HT4G7DY33OO2Y4GGBNADATWWS7"
            },
            {
              "id": "targetInvoice",
              "name": "targetInvoice",
              "type": "string",
              "value": "last"
            },
            {
              "id": "declarationText",
              "name": "declarationText",
              "type": "string",
              "value": "Son geçerlilik tarihi 29.08.2026 olan SAT-251000306 numaralı yapay zeka hizmetleri satın alımına ilişkin onaylı talep formu kapsamında, Sayın Elif ÇAKIROĞLU ERDEM'in kullanımına yönelik 1 (bir) aylık ChatGPT Plus abonelik bedelidir."
            },
            {
              "id": "signatureText",
              "name": "signatureText",
              "type": "string",
              "value": "Fatih KILINÇ"
            },
            {
              "id": "owner",
              "name": "owner",
              "type": "string",
              "value": "Mevzuat ve Sektörel Politikalar"
            }
          ]
        },
        "options": {}
      },
      "id": "0c7109c5-1a2a-4499-8949-329ced8a8538",
      "name": "tim-yz10",
      "position": [
        -304,
        752
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email",
              "name": "email",
              "type": "string",
              "value": "tim-yz11@tim.org.tr"
            },
            {
              "id": "password",
              "name": "password",
              "type": "string",
              "value": "hXX3p_9WXq3L"
            },
            {
              "id": "totpSecret",
              "name": "totpSecret",
              "type": "string",
              "value": "Y2SQ4JP672XSFYW3WGHUB2D6OXOMGAIH"
            },
            {
              "id": "targetInvoice",
              "name": "targetInvoice",
              "type": "string",
              "value": "last"
            },
            {
              "id": "declarationText",
              "name": "declarationText",
              "type": "string",
              "value": "Son geçerlilik tarihi 20.08.2026 olan SAT-251000300 numaralı yapay zeka hizmetleri satın alımına ilişkin onaylı talep formu kapsamında, İnsan Kaynakları Müdürlüğümüzün kullanımına yönelik 1 (bir) aylık ChatGPT Plus abonelik bedelidir."
            },
            {
              "id": "signatureText",
              "name": "signatureText",
              "type": "string",
              "value": "Fatih KILINÇ"
            },
            {
              "id": "owner",
              "name": "owner",
              "type": "string",
              "value": "Elif ÇAKIROĞLU ERDEM"
            }
          ]
        },
        "options": {}
      },
      "id": "bb6a31b6-5574-4911-a0d8-f4d7ee8c4a2f",
      "name": "tim-yz11",
      "position": [
        -304,
        944
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email",
              "name": "email",
              "type": "string",
              "value": "tim-yz12@tim.org.tr"
            },
            {
              "id": "password",
              "name": "password",
              "type": "string",
              "value": "r.pvsw3Mnsvw"
            },
            {
              "id": "totpSecret",
              "name": "totpSecret",
              "type": "string",
              "value": "JGJJFQYIQZHCVBI2ZRSCJKLKYRHM3Z76"
            },
            {
              "id": "targetInvoice",
              "name": "targetInvoice",
              "type": "string",
              "value": "last"
            },
            {
              "id": "declarationText",
              "name": "declarationText",
              "type": "string",
              "value": "Son geçerlilik tarihi 20.08.2026 olan SAT-251000300 numaralı yapay zeka hizmetleri satın alımına ilişkin onaylı talep formu kapsamında, Mevzuat ve Sektörel Politikalar Müdürlüğümüzün kullanımına yönelik 1 (bir) aylık ChatGPT Plus abonelik bedelidir."
            },
            {
              "id": "signatureText",
              "name": "signatureText",
              "type": "string",
              "value": "Fatih KILINÇ"
            },
            {
              "id": "owner",
              "name": "owner",
              "type": "string",
              "value": "İnsan Kaynakları"
            }
          ]
        },
        "options": {}
      },
      "id": "c0ab758c-9689-48b1-9692-296e1aaf9e22",
      "name": "tim-yz12",
      "position": [
        -304,
        1136
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -528,
        752
      ],
      "id": "e5cac5a7-65df-479b-bb98-4f74f4c2eb73",
      "name": "Every Month"
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger Local Playwright": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Downloaded PDF",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Downloaded PDF": {
      "main": [
        [
          {
            "node": "Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Data": {
      "main": [
        [
          {
            "node": "Send Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "trq-hizmet-yz1": {
      "main": [
        [
          {
            "node": "Merge 3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "trq-hizmet-yz2": {
      "main": [
        [
          {
            "node": "Merge 3",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "trq-hizmet-yz3": {
      "main": [
        [
          {
            "node": "Merge 3",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "trq-hizmet-yz4": {
      "main": [
        [
          {
            "node": "Merge 3",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "trq-hizmet-yz5": {
      "main": [
        [
          {
            "node": "Merge 3",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "trq-hizmet-yz6": {
      "main": [
        [
          {
            "node": "Merge 3",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "trq-yz1": {
      "main": [
        [
          {
            "node": "Merge 2",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "trq-yz2": {
      "main": [
        [
          {
            "node": "Merge 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 1": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 3": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge All": {
      "main": [
        [
          {
            "node": "Trigger Local Playwright",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 2": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "tim-yz0": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tim-yz1": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "tim-yz2": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "tim-yz3": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "tim-yz4": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "tim-yz5": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "tim-yz6": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "tim-yz7": {
      "main": [
        [
          {
            "node": "Merge 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tim-yz8": {
      "main": [
        [
          {
            "node": "Merge 2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "tim-yz9": {
      "main": [
        [
          {
            "node": "Merge 2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "tim-yz10": {
      "main": [
        [
          {
            "node": "Merge 2",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "tim-yz11": {
      "main": [
        [
          {
            "node": "Merge 2",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "tim-yz12": {
      "main": [
        [
          {
            "node": "Merge 2",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Every Month": {
      "main": [
        [
          {
            "node": "tim-yz7",
            "type": "main",
            "index": 0
          },
          {
            "node": "tim-yz0",
            "type": "main",
            "index": 0
          },
          {
            "node": "tim-yz1",
            "type": "main",
            "index": 0
          },
          {
            "node": "tim-yz2",
            "type": "main",
            "index": 0
          },
          {
            "node": "tim-yz3",
            "type": "main",
            "index": 0
          },
          {
            "node": "tim-yz4",
            "type": "main",
            "index": 0
          },
          {
            "node": "tim-yz5",
            "type": "main",
            "index": 0
          },
          {
            "node": "tim-yz6",
            "type": "main",
            "index": 0
          },
          {
            "node": "tim-yz8",
            "type": "main",
            "index": 0
          },
          {
            "node": "tim-yz9",
            "type": "main",
            "index": 0
          },
          {
            "node": "tim-yz10",
            "type": "main",
            "index": 0
          },
          {
            "node": "tim-yz11",
            "type": "main",
            "index": 0
          },
          {
            "node": "tim-yz12",
            "type": "main",
            "index": 0
          },
          {
            "node": "trq-hizmet-yz1",
            "type": "main",
            "index": 0
          },
          {
            "node": "trq-hizmet-yz2",
            "type": "main",
            "index": 0
          },
          {
            "node": "trq-yz1",
            "type": "main",
            "index": 0
          },
          {
            "node": "trq-yz2",
            "type": "main",
            "index": 0
          },
          {
            "node": "trq-hizmet-yz3",
            "type": "main",
            "index": 0
          },
          {
            "node": "trq-hizmet-yz4",
            "type": "main",
            "index": 0
          },
          {
            "node": "trq-hizmet-yz5",
            "type": "main",
            "index": 0
          },
          {
            "node": "trq-hizmet-yz6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "binaryMode": "separate"
  },
  "versionId": "2df3bc71-9549-4a98-a460-64b3df6c9e0e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6032ce92e675cc7e22d12abe37ef6e52c58ec5d20e1c6372d0bdfddf1e2c29ea"
  },
  "id": "vJ5pCHFDEiTNn6yw",
  "tags": []
}